md-list-item .md-avatar {
  width: 64px !important;
  height: 64px !important;
}

.md-secondary {
  margin-top: 0!important;
}

.sidebar {
  color: white;
  background-color: #FF5722;
  position: relative;
}

.sidebar md-list {
  padding: 0;
}

.sidebar .item-selected {
  background-color: #E64A19;
}

.bottom-toolbar {
  position: absolute;
  bottom: 0;
  border-top: 1px solid rgba(0,0,0,0.2);
}

.bottom-toolbar .md-fab {
  position: absolute;
  right: 10px;
  top: -3px;
}

.white-toolbar {
  background-color: white !important;
  color: rgba(0,0,0,0.7) !important;
}
