md-list-item .md-avatar {
  width: 3em !important;
  height: 3em !important;
}

.md-secondary {
  margin-top: 0!important;
}

md-toolbar {
  font-size: 1em;
}

.md-toolbar-tools {
  font-size: 1em;
}

.md-toolbar-tools h2 {
  font-size: 1em;
}

.sidebar {
  color: white;
  background-color: #FF5722;
  position: relative;
}

.sidebar md-list {
  font-size: 1em;
  padding: 0;
}

.sidebar .item-selected {
  background-color: #E64A19;
}

.messages-container {
  position: relative;
}

.bottom-toolbar {
  position: absolute;
  bottom: 0;
  border-top: 1px solid rgba(0,0,0,0.2);
}

.bottom-toolbar md-input-container{
  padding: 7px;
  margin: 20px 25px 0px;
}

.bottom-toolbar md-input-container .md-errors-spacer{
  min-height: 0;
}

.bottom-toolbar .md-fab {
  position: absolute;
  right: 10px;
  top: -3px;
}

.white-toolbar {
  background-color: white !important;
  color: rgba(0,0,0,0.7) !important;
}

.md-avatar.material-icons {
  margin-right: 13px !important;
}

.message {
  background-color: #cfcfcf;
}

.message.my-message {
  background-color: #FFB74D;
}

md-toast.custom-toast {
  top: 64px;
  right: 0px;
}

.zoom {
  position: absolute;
  right: 50px;
  display: block;
  text-align: center;
  font-size: 2em;
  top: 70px;
  z-index: 999;
}

.zoom span {
  cursor: pointer;
  display: block;
  background-color: #a6a6a6;
  color: white;
  padding: 5px 20px;
  margin: 5px;
  border-radius: 5px;
}
