<md-content layout="row" layout-fill>
    <span class="zoom">
      <span ng-click="community.zoom(2)">+</span>
      <span ng-click="community.zoom(-2)">-</span>
    </span>
    <div flex="20" class="sidebar md-whiteframe-2dp">
      <md-list>
        <md-toolbar class="md-hue-2" ng-if="!community.groups || community.groups.length">
          <h2 class="md-toolbar-tools">
            <span>Groups</span>
          </h2>
        </md-toolbar>
        <md-list-item ng-repeat="group in community.groups" ng-click="community.selectConversation(group)" ng-class="{'item-selected': group.selected}">
          <md-icon class="md-avatar" alt="{{group.name}}" >group</md-icon>
          <p>{{ group.name }}</p>
          <md-button ng-if="group.selected" ng-click="community.showConfirm($event, group)">
            	<md-icon class="md-secondary">delete</md-icon>
          </md-button>
        </md-list-item>
      </md-list>
      <md-list>
        <md-toolbar class="md-hue-2">
          <div class="md-toolbar-tools">
          <h2>Friends</h2>
          <span flex></span>
          <md-button class="md-icon-button" ng-click="community.showFriendDialog()" aria-label="Manage friends">
            <md-tooltip md-direction="left">
              Manage friends
            </md-tooltip>
            <md-icon>person_add</md-icon>
          </md-button>
        </div>
      </md-toolbar>
      <md-list-item ng-repeat="user in community.users" ng-click="community.selectConversation(user)" ng-class="{'item-selected': user.selected}">
        <img ng-src="{{user.image_url}}" class="md-avatar" alt="{{user.image_url}}" />
        <p>{{ user.name }}</p>
      </md-list-item>
    </md-list>
    <md-toolbar class="bottom-toolbar md-hue-2">
      <h2 class="md-toolbar-tools">
        <span>Create new group</span>
      </h2>
      <md-button class="md-fab" ng-click="community.showDialog()" aria-label="New group">
        <md-icon>add</md-icon>
      </md-button>
    </md-toolbar>
  </div>
  <div flex="80" class="messages-container">
    <md-toast class="md-default-theme custom-toast" ng-if="community.toast">
      <div class="md-toast-content" flex>{{community.toast}}</div>
    </md-toast>
    <md-toolbar class="white-toolbar md-whiteframe-1dp">
       <div class="md-toolbar-tools">
         <h2 class="md-flex">{{community.currentConversation ? community.currentConversation.name :'Community'}}</h2>
       </div>
     </md-toolbar>
     <md-content layout="row" layout-align="center center" ng-if="!community.currentConversation">
       <h2><md-icon>arrow_back</md-icon> Select a conversation on the left bar</h2>
     </md-content>
     <md-content ng-if="community.currentConversation" layout="column">
       <md-list>
         <md-list-item ng-repeat="message in community.messages" class="message"
           ng-class="{'my-message': message.user_id == community.currentUser.id }">
           <p><b>{{::(message.user_id == community.currentUser.id) ? 'I say:' : community.getUser(message.user_id) + ' says:'}}</b>
             {{ message.content }}</p>
         </md-list-item>
       </md-list>
     </md-content>
     <md-toolbar ng-if="community.currentConversation" layout="row" class="bottom-toolbar white-toolbar">
       <md-input-container class="md-block" flex="80">
         <label>Message</label>
         <input ng-model="community.message">
       </md-input-container>
       <md-button class="md-primary md-raised" ng-click="community.sendMessage(community.message)" flex="20">Send message</md-button>
     </md-toolbar>
  </div>
</md-content>
